  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

/*Navbar*/

html{
  scroll-behavior: smooth;
}
.modal-backdrop {
  position:unset !important;
}

#about{
  height: 750px;
}

#products{
  height: 1400px;
}
#emptycart{
  height: 350px;
}

.navbar-nav a{
  font-family: century;
  font-size: 1.1rem;
}

.navbar-brand{
  font-family: century;
}
#cards {
  transition: all 0.5s ease;
  background-color: turquoise;
  height: 23rem;

}

#cards:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: turquoise;
}

.product img {
  transition: all 0.5s ease;
}

.product img:hover{
  transform: scale(1.3);
}

/*height of the images in the carousel*/
#carousel {
  height: 700px;
}
/*Navbar Links*/
#link{
  color: steelblue;
  font-weight: bolder;
}

#link:hover{
  background-color: black;
  color: darkturquoise;
  box-shadow: 0 0 10px turquoise;
}
/*Navbar Main Text */
#main{
  font-family: Arial Narrow, sans-serif;
  font-style: italic;
  background-color: turquoise;
}

#main:hover{
  background-color: black;
  color: darkturquoise;
}
/* text in the Home page */
#text{
  text-shadow: 0 0 20px darkturquoise;
}
/*procucts "Latest Collection" text*/
#late{
  text-shadow: 0 0 10px darkslategray;
  color: darkslategray;
}
/*text throughout the website*/
#para{
  text-align: justify;
  font-family: century;
}

#prod{
  font-family: century;
}